/*incorporo reglas fundamentales para hacer web*/
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 15px;
}
.verde{
    background-color: rgb(192, 11, 11);

}
.morado{
    background-color: rgb(247, 160, 0);

}
.rosado{
    background-color: rgb(73, 24, 112);

}
.naranja{
    background-color: rgb(10, 110, 94);

}
.altura1{
    height: 400px;
}
.altura2{
    height: 50px;

}
.altura3{
    height: 400px;

}
.altura4{
    height: 400px;
}